.footer {
  height: 70px;
  margin-top: 30px;
}

.footer__logo {
  float: left;
  width: 25%;
}

.footer__logo-img {
  height: 50px;
}

.footer__text {
  float: left;
  width: 25%;
  line-height: 56px;
}

.footer__social {
  float: right;
  width: 25%;
  line-height: 56px;
  text-align: right;
}