body {
	font-size: 16px;
	line-height: 1.42;
	-webkit-font-smoothing: antialiased;
}
.wrapper {
	min-width: 1100px;
}
.container {
	@extend %clearfix;
	width: 1100px;
	margin: 0 auto;
}

li {
	list-style: none;
}

ul {
	padding: 0;
	margin: 0;
}
